
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between  ">
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        Я готов внести свою энтузиазм, творческий подход и стремление к качеству в вашу команду. С нетерпением
        жду возможности присоединиться к вашей компании и совместно развиваться в индустрии front-end
        разработки.
      </li>
    </ul>
  </div>
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">С уважением, Нуржигит. 2023 16-июнь .
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a href="#hero" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
