<div id="future" class=""
style="background: url('https://www.rpspromo.com/template/back/img/bg-img/bg-img-2.jpg');">
<div class="w-5/6 mx-auto flex flex-col content-center items-center">
  <h1 class="text-3xl font-medium my-5 text-white">Цели в будущем</h1>
  <div class=" md:flex-row flex border p-4 my-10 flex-col">
    <div class="md:w-1/2  flex items-center content-center">
      <h2 class="text-2xl font-bold text-white  border-white pb-2">Развитие профессиональной карьеры:</h2>
    </div>
    <div class="md:w-1/2">
      <p class="text-white text-lg">Моя цель - стать опытным front-end разработчиком и продолжать развиваться в этой области. Я стремлюсь освоить новые технологии и фреймворки, углубить свои знания в области веб-разработки и стать экспертом в создании высококачественных пользовательских интерфейсов.</p>
    </div>
  </div>
  <div class="md:flex-row flex border p-4 my-10 flex-col">
    <div class="md:w-1/2 flex items-center content-center">
      <h2 class="text-2xl font-bold text-white  border-white pb-2">Руководящие позиции:</h2>
    </div>
    <div class="md:w-1/2">
      <p class="text-white text-lg">Я стремлюсь к руководящей роли в области front-end разработки, где смогу применить свои лидерские навыки и опыт, чтобы вести команду разработчиков, реализовывать сложные проекты и достигать поставленных целей.</p>
    </div>
  </div>
  <div class="md:flex-row flex border p-4 my-10 flex-col">
    <div class="md:w-1/2 flex items-center content-center">
      <h2 class="text-2xl font-bold text-white  border-white pb-2">Продуктовая разработка:</h2>
    </div>
    <div class="md:w-1/2">
      <p class="text-white text-lg"> Моя цель - работать на проектах, которые имеют значимость и влияют на пользователей. Я стремлюсь принимать активное участие в разработке инновационных и полезных веб-приложений, улучшать пользовательский опыт и вносить вклад в создание высококачественных продуктов.</p>
    </div>
  </div>
  <div class="md:flex-row flex border p-4 my-10 flex-col">
    <div class="md:w-1/2 flex items-center content-center">
      <h2 class="text-2xl font-bold text-white  border-white pb-2">Обучение и образование:</h2>
    </div>
    <div class="md:w-1/2">
      <p class="text-white text-lg">Я намерен продолжать обучение и постоянно развиваться в области front-end разработки. Моя цель - участвовать в конференциях, курсах и тренингах, чтобы быть в курсе последних тенденций и лучших практик в отрасли и применять их на практике.</p>
    </div>
  </div>
  <div class="md:flex-row flex border p-4 my-10 flex-col">
    <div class="md:w-1/2 flex items-center content-center">
      <h2 class="text-2xl font-bold text-white  border-white pb-2">Вклад в сообщество:</h2>
    </div>
    <div class="md:w-1/2">
      <p class="text-white text-lg">Я стремлюсь не только развиваться профессионально, но и делиться своими знаниями и опытом с сообществом. Моя цель - активно участвовать в open-source проектах, проводить мастер-классы и воркшопы, чтобы внести свой вклад в развитие front-end разработки и помочь другим разработчикам.</p>
    </div>
  </div>


</div>
</div>
