<div id="hero" style="background: url('https://images.squarespace-cdn.com/content/v1/5dc98894c9f5b9464153bd45/1589289370140-Q1LR5MSMFJ9SH40590CC/brands-BG.png?format=2500w');">
<div class=" mx-auto w-5/6 pt-20">
  <div class=" flex flex-col bg-white content-center items-center mx-auto p-4 w-300  " >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToK_-LT9HmxfBNTsC0A8wfvjtfxKh3GjexbQ&usqp=CAU" alt="">
    <div>
      <div class="flex mb-2 flex-col md:flex-row">
        <h1 class="text-lg font-bold">Турдумамтов Нуржигит</h1>
        <h4 class="ml-2">Front-end разработчик</h4>
      </div>
      <div class="flex mb-2 flex-col md:flex-row">
        <h4 class="font-bold">телефон:</h4>
        <a href="tel:+966776280405" class="ml-1">0776280405</a>
      </div>
      <div class="flex mb-2 flex-col md:flex-row">
        <h4 class="font-bold">Email:</h4>
        <a href="mailto:turdumamatovnurzhigit@gmail.com" class="ml-1">turdumamatovnurzhigit@gmail.com</a>
      </div>
      <div class="flex flex-col md:flex-row">
        <h4 class="font-bold">дата рождения:</h4>
        <h4 class="ml-1">28 апреля 2005</h4>
      </div>
    </div>
  </div>
</div>
</div>

