<div id="skill" class="py-10 w-5/6 mx-auto">
  <div>
    <div class="text-3xl font-medium mb-5 ">
      <h1>Навыки</h1>
      <div class="bg-blue-900 w-11/12 mx-auto"></div>
    </div>
    <div class="flex flex-col items-center">
      <div class="w-full my-5">
        <h1 class="text-center mb-8 text-3xl">Soft skills</h1>
        <div class="grid grid-cols-1 gap-4">
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">Коммуникация</h3>
            <p>отличные устные и письменные навыки коммуникации, способность ясно выражать свои мысли и
              эффективно взаимодействовать с коллегами</p>
          </div>
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">Работа в команде</h3>
            <p>опыт работы в многокультурной среде, умение сотрудничать с разнообразными группами людей
              и достижение общих целей</p>
          </div>
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">Решение проблем</h3>
            <p>умение анализировать сложные ситуации, принимать взвешенные решения и предлагать
              эффективные стратегии для достижения целей</p>
          </div>
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">Адаптивность</h3>
            <p>способность быстро адаптироваться к изменениям, гибкость и умение эффективно работать в
              динамичной среде</p>
          </div>
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">Лидерство</h3>
            <p>навыки организации и руководства, умение мотивировать и вдохновлять других, а также
              принимать ответственность за достижение результатов</p>
          </div>
        </div>
      </div>
      <div class="w-full my-10">
        <h1 class="text-center mb-8 text-3xl">Hard skills</h1>
        <div class="grid grid-cols-1 gap-4">
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">Front-end разработка</h3>
            <p>владение HTML, CSS и JavaScript для создания интерактивных пользовательских интерфейсов</p>
          </div>
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">Знание фреймворков</h3>
            <p>опыт работы с популярными фреймворками, такими как React, Redux, TypeScript для разработки современных веб-приложений</p>
          </div>
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">Верстка и адаптивность</h3>
            <p>опыт создания веб-страниц с использованием семантического HTML и CSS, а также умение делать их адаптивными для различных устройств и разрешений экранов</p>
          </div>
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">JavaScript и библиотеки</h3>
            <p>знание языка JavaScript и опыт работы с популярными библиотеками и фреймворками, такими как Tailwind CSS, Bootstrap или Material-UI</p>
          </div>
          <div class="p-4 border border-gray-300 hover:border-gray-500">
            <h3 class="text-xl font-medium">Git (GitHub)</h3>
            <p>опыт использования Git и GitHub для управления версиями исходного кода, включая создание репозиториев, ветвей (branches), коммитов и слияний (merges)</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
